{% extends 'base.html' %}

{% block title %}
    404 Not Found - Modern Paste
{% endblock %}

{% block head %}
    {{ super() }}

    <script type="text/javascript">goog.provide('modernPaste.error.NotFoundController');</script>
{% endblock %}

{% block content %}
    <div class="error-container">
        <p class="sans-serif regular gray size-8 spaced">404 NOT FOUND</p>
        <br/>
        <p class="sans-serif regular light-gray size-4 less-spaced">
            The resource you're looking for can't be found.
        </p>
        <br/><br/>
        <p class="light-link sans-serif regular light-gray size-2 less-spaced">
            {# {{ uri('paste', 'PastePostInterfaceURI') }} #}
            <a href="#">Create a new paste</a>
        </p>
    </div>
{% endblock %}
